.CustomerAcctBox {
    margin: 20px;
    padding: 5px;
    background-color: lightgrey;
    max-width: 230px;
    border-radius: 3px;
}

.RightClose {
    float: right;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.CustomerAcctInput {
    margin-right: 5px;
}